################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/CHIP8/DesignTimeBuild/.dtbcache.v2
/CHIP8.Console/obj/CHIP8.Console.csproj.nuget.dgspec.json
/CHIP8.Infrastructure/obj/CHIP8.Infrastructure.csproj.nuget.dgspec.json
/CHIP8.InMemoryImplementation/obj/CHIP8.InMemoryImplementation.csproj.nuget.dgspec.json
/CHIP8.OpCodes/obj/CHIP8.OpCodes.csproj.nuget.dgspec.json
/CHIP8.Console/bin/Debug/netcoreapp2.2
/CHIP8.Console/obj/Debug/netcoreapp2.2
/CHIP8.Console/obj
/CHIP8.Core/bin/Debug/netstandard2.0
/CHIP8.Core/obj/Debug/netstandard2.0
/CHIP8.Core/obj
/CHIP8.Infrastructure/bin/Debug/netstandard2.0
/CHIP8.Infrastructure/obj
/CHIP8.InMemoryImplementation/bin/Debug/netstandard2.0
/CHIP8.InMemoryImplementation/obj
/CHIP8.OpCodes/bin/Debug/netstandard2.0
/CHIP8.OpCodes/obj
/.vs/CHIP8/v15/Server/sqlite3
/.vs/CHIP8/DesignTimeBuild
/CHIP8ROMs
/CHIP8.Console/bin/Debug/netcoreapp3.1
/CHIP8.WinForms/bin/Debug
/CHIP8.WinForms/obj/Debug
/.vscode
/.vs
/CHIP8.WinForms.Dotnetcore/bin/Debug/netcoreapp3.1
/CHIP8.WinForms.Dotnetcore/obj
/ConsoleCHIP8/obj
/CHIP8.OpCodes.Tests/bin
/CHIP8.OpCodes.Tests/obj
/CHIP8.InMemoryImplementation.Tests/bin
/CHIP8.InMemoryImplementation.Tests/obj